*{
	margin: 0px;/* margenes entre secciones */
	padding: 0px;/* margen interno de cada seccion */
}


body{
	background: linear-gradient(#115591,#119143);
	font-family: Arial;
}

#container{
	text-align: center;
	width: 100%;
	margin: 0px auto;/* centra todo lo que puede */
	border: 5px solid black;/* hace un borde al rededor de la seccion */
}
.mapdiv {
	width: 35%;
	margin: auto;
}

.mapdiv path{
	fill: #92631D;
	stroke: #8F8F8F;
	stroke-width: 3px;
}

.mapdiv :hover{
	fill: #800000;
}

.foto1{
	float: left;
}

.foto2{
	border: 2px solid #ccc;
	border-radius: 2px;
	margin: auto;
}

input[type=button]{
	float: right;
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 8px 16px;
  	margin: 4px 2px;
}

input[type=text] {
	width: 20%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 10px;
	background-color: white;
	padding: 4px 12px 4px 12px;
	transition: width 0.4s ease-in-out;
	position: relative;
	right: 0px;
}

input[type=text]:focus {
	border: 3px solid #555;
 	width: 50%;
}

input[type=submit] {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 10px;
	background-color: white;
	padding: 4px 12px 4px 12px;
	position: relative;
	right: 0px;
}

header{
	height: 10%;
	width: 100%;
	margin: 0px;
	text-align: center;/* centrar derecha a izquierda */
	line-height: 100px;/* centra de arriba a abajo */
	color: white;
}

nav ul li{
	float: right;
	list-style: none;
	margin-top: -5px; /*Estas 4 lineas usadas para poder colocar bien el menu en la cabecera*/
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.clearfix{
	clear: both;
}

nav{
	height: 0px;
	line-height: 0px;
	font-size: small;
}




#content{
	width: calc(100% - 80px);
	min-height: 500px;
	padding: 40px;
}

.article{
	color: white;
	margin-top: 15px;
	margin: auto;
}

.separator{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.article:h2{
	font-size: 50px;
}


footer{
	background: black;
	height: 100px;
}

.social{
	float: right;
	width: 2%;
}

.menu{
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 100%;
	background-color: white;
	color: darkgray;
}

.End{
	color: #4c6ef5;
}

.AExperience{
	padding-right: 8%;
	padding-left: 8%;
	padding-bottom: 1%;
	padding-top: 1%;
}

.Videos-Photo{
	-webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;

    -webkit-column-gap: 10%; /* Chrome, Safari, Opera */
    -moz-column-gap: 10%; /* Firefox */
    column-gap: 10%;
    
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
    
    -webkit-column-rule: 3% solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 3% solid rgb(75, 180, 149)  ; /* Firefox */
    column-rule: 3% solid rgb(75, 180, 149)  ;
    
    -webkit-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 0.5rem solid rgb(75, 180, 149)  ; /* Firefox */
    column-rule: 0.5rem solid rgb(75, 180, 149)  ;
    
    margin: 10%;
    margin: 2rem;
}

.videos{
	width: 80%;
	margin-top: 10%;
	border: 2px solid rgb(163, 116, 27);
	border-radius: 2px;
	margin-bottom: 10%;

}

.Description{
	padding: 1%;
	font-size: 110%;
}

.TOS{
	text-align: left;
	float: left;
	height: auto;
	width: 95%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}
